################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/smart_curtains/FileContentIndex/6891b225-0649-4409-a5cd-9c8a2348945d.vsidx
/.vs/smart_curtains/FileContentIndex
/.vs/slnx.sqlite
